<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Pacifico&display=swap" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <title>Profile!</title>
  </head>
  <body  style="font-family: sans-serif;">

      {% block content %}
      {% include '../components/navbar.html' %}
      {% endblock %}
      <div class = "container-fluid" style="margin-top: 100px;">

         <div class="container" style="font-size: 15px;" >
            <!-- Title -->

        <div class="col-sm-6 col-12" style="box-shadow: 0px 0px 5px grey; background-color: #FFFFF0;">
          <h2>USER INFORMATION</h2>
          {%if clientinf.role == "Flintwood_supplier"%}
          <a href="{% url 'FlintSupplier:supplier_view'%}" class="btn btn-primary" style="font-weight: bold; font-size: 15px;  height: 35px;float: left;">VIEW PRODUCTS SUPPLIED</a>
          {%elif clientinf.role == "btsupplier"%}
          <a href="{% url 'BTTitanSupplier:supplier_view'%}" class="btn btn-primary" style=" font-weight: bold; font-size: 15px;  height: 35px;float: left;">VIEW PRODUCTS SUPPLIED</a>
          {%elif clientinf.role == "biotec_supplier"%}
          <a href="{% url 'BiotecSupplier:supplier_view'%}" class="btn btn-primary" style="font-weight: bold; font-size: 15px;  height: 35px;float: left;">VIEW PRODUCTS SUPPLIED</a>
          {%elif clientinf.role == "Admin"%}
          <a href="{% url 'adminstrator:freight_view'%}" class="btn btn-primary" style="font-weight: bold; font-size: 15px;  height: 35px;float: left;">ADMINSTRATOR PAGE</a>
          {%endif%}

          <a href="{% url 'delete_from_user' pk=useracc.id%}" class="btn btn-primary" style="background-color: red; font-weight: bold; font-size: 15px;  height: 35px;float: right; border: 1px solid red;">Delete Account</a><br>
          <br><h5>Account information:</h5>
          <table style=" width: 100%;">
            <th><td></td></th>

            <tr><td>First Name:</td><td>{{useracc.first_name}}</td></tr>
            <tr><td>Last Name:</td><td>{{useracc.last_name}}</td></tr>
            <tr><td>Username:</td><td>{{useracc.username}}</td></tr>
            <tr><td>Email Address:</td><td>{{useracc.email}}</td><td>
              </td></tr>
          </table><br>

          <table style=" width: 450px;">
            <th><tr><h5>User details</h5></tr></th>
            <tr><td>Account Privileges:</td><td>{{clientinf.privilege}}</td><td>
</td></tr>
            <tr><td>Phone Number:</td><td>{{clientinf.phonenumber}}</td><td>
</td></tr>
            <tr><td>Alternate Phone Number:</td><td>{{clientinf.Alternate_phonenumber}}</td><td>
             </td></tr>
            <tr><td>WeChat:</td><td>{{clientinf.WeChat}}</td><td>
             </td></tr>
            <tr><td>Skype:</td><td>{{clientinf.Skype}}</td><td>
             </td></tr>
            <tr><td>Physical address:</td><td>{{clientinf.physical_address}}</td><td>
              </td></tr>
            <tr><td>Country:</td><td>{{clientinf.Country}}</td></tr>
          </table>
          <h5>User Bank Details</h5>

          <table>

            <tr><td><p>Not Yet Applicable</p></td></tr>
            <tr><td><p></p></td></tr>
          </table>
          <h5>User activity details</h5>
          <table class="table table-striped" style=" width: auto; font-size: 8px; padding: 1%; "><thead>
            <a href="{% url 'Biotech:store_page'%}" style="font-size: 12px; float: right;">View Store</a>
            <th><tr><h6>BIOTECH ORDER HISTORY</h6></tr></th>
            <tr style="width: 100%; font-weight: bold;"><td  style="width: 100%;"><p>SERIALID</p></td><td style="width: 100px;"><p>ORDERDATE</p></td><td><p>ORDERLIST</p></td><td><p>STATUS</p></td></tr></thead><tbody>
           {%if biotech != ""%}
              {% for bio in biotech%}
                <tr><td><p>{{bio.OrderID}}</p></td><td><p>{{bio.OrderDate}}</p></td><td><p>{{bio.OrderList}}</p></td><td><p>{{bio.Order_Payment}}</p></td></tr>
              {%endfor%}
            {%elif biotech == None%}
                  <tr><td><p>You have no orders here!</p></td></tr>
            {%endif%}
            </tbody>
          </table>
          <table class="table table-striped" style=" width: auto; font-size: 8px; padding: 1%; "><thead>
            <a href="{% url 'Flintwood:store_page'%}" style="font-size: 12px; float: right;">View Store</a>
            <th><tr><h6>FLINTWOOD ORDER HISTORY</h6></tr></th>
            <tr style="width: 100%; font-weight: bold;"><td  style="width: 100px;"><p>SERIALID</p></td><td style="width: 100px;"><p>ORDERDATE</p></td><td><p>ORDERLIST</p></td><td><p>STATUS</p></td></tr></thead><tbody>
            {%if flintorders != ""%}
                {% for fli in flintorders%}
                  <tr><td><p>{{fli.OrderID}}</p></td><td><p>{{fli.OrderDate}}</p></td><td><p>{{fli.OrderList}}</p></td><td><p>{{fli.Order_Payment}}</p></td></tr>
                {%endfor%}
            {%elif flintorders == None%}
                  <tr><td><p>You have no orders here!</p></td></tr>
            {%endif%}
            </tbody>
          </table>
          <table class="table table-striped" style=" width: auto; font-size: 8px; padding: 1%; "><thead>
            <a href="{% url 'TKTitan:store_page'%}" style="font-size: 12px; float: right;">View Store</a>
            <th><tr><h6>TKTITAN ORDER HISTORY</h6></tr></th>
            <tr style="width: 100%; font-weight: bold;"><td  style="width: 100px;"><p>SERIALID</p></td><td style="width: 100px;"><p>ORDERDATE</p></td><td><p>ORDERLIST</p></td><td><p>STATUS</p></td></tr></thead><tbody>
            {%if tkorder != ""%}
                {% for tk in tkorder%}
                  <tr><td><p>{{tk.OrderID}}</p></td><td><p>{{tk.OrderDate}}</p></td><td><p>{{tk.OrderList}}</p></td><td><p>{{tk.Order_Payment}}</p></td></tr>
                {%endfor%}
            {%elif tkorder == None%}
                  <tr><td><p>You have no orders here!</p></td></tr>
            {%endif%}
</tbody>
          </table>
        </div>

          <div class="col" style="float: right; width: 50%;">
            <h2>UPDATE YOUR INFORMATION</h2>
            <div class="col" >
              <h5>Change email address</h5>
              <form method="POST">{% csrf_token %}
                {{emailform}}
                <button type="submit" class="btn btn-primary">change</button>
              </form><hr>
            </div>
            <div class="col" >
              <h5>Change account privileges</h5>
            <form method="POST">{% csrf_token %}
                {{privform}}
                <button type="submit" class="btn btn-primary">change</button>
              </form><hr></div>
            <div class="col" >
              <h5>Change main phone number</h5>
            <form method="POST">{% csrf_token %}
                {{mphoneform}}
                <button type="submit" class="btn btn-primary">change</button>
              </form><hr></div>
            <div class="col" >
              <h5>Change alternate phone number</h5>
              <form method="POST">{% csrf_token %}
                {{aphoneform}}
                <button type="submit" class="btn btn-primary">change</button>
              </form><hr></div>
            <div class="col" >
              <h5>Change physical address</h5><br>
              <form method="POST">{% csrf_token %}
                {{addform}}
                <button type="submit" class="btn btn-primary">change</button>
              </form><hr></div>
            <div class="col" >
              <h5>Change account password</h5>
              <form method="POST">{% csrf_token %}
                {{passforms}}
                <button type="submit" class="btn btn-primary">change</button>
              </form></div>
          </div>
    </div>
  </div>
    </div>

    <!-- Footer -->
    {% block footer %}
    {% include '../components/footer.html' %}
    {% endblock %}
<!-- Footer -->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
