<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Pacifico&display=swap" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <title>Supplier Profile!</title>
  </head>
  <body  style="font-family: sans-serif; width: 100%">
    {%load static %}
          {% block content %}
          {% include '../components/navbar.html' %}
          {% endblock %}
          <div class = "container-fluid" style="margin-top: 100px;">

             <div class="container" style="font-size: 15px;" >
                <!-- Title -->


          <div class="card mb-3" style="max-width: 100%;">
            <div class="row no-gutters" style="padding:2%;">
              <div class="col-md-4">
                <img src="{% static 'ecommerce/companylogo2.png' %}" class="card-img" width="auto"  style="float:left;" >
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h2 class="card-title">Product Management</h2>
                  <p class="card-text">Add new product:</p>
                  <p class="card-text">
                    <form method="POST" enctype="multipart/form-data">{% csrf_token %}

                    {{ pform }}
                    <hr>
                    <button class="btn btn-default" type="submit">ADD</button></form></p><hr>
                </div>

              </div>
          </div>
          </div>

          <div class="col" style="float: right; width: 100%; ">
            <h2>All your products</h2><hr>
            <div class="col"  >
              <h5>You are suppling: {{ num_products }}</h5>
            </div>
            {%if user_content != None%}
              {% for product in user_content %}
                <div class="card" style="width: 18rem; display: inline-block;">
                    <img class="card-img-top"src="{{product.image.url}}" alt="Card image cap" height="130px"  >
                    <div class="card-body">
                      <h5 class="card-title">{{product.name}}</h5>
                      <p>{{product.description}} </p>
                      <p class="card-text">{{product.stock}} Units In stock</p>
                      <p class="card-text">PRICE: {{product.price}}</p>

                      <a class="btn btn-default" href="{% url 'adminstrator:delete_product' comp=product.Product_Catergory pk=product.pid%}">DELETE</a></td><td>
                        {%if product.Active == True%}
                      <a class="btn btn-primary" href= "{%url 'adminstrator:verify' comp=product.Product_Catergory  pk=product.pid%}">DEACTIVATE</a>
                        {%elif product.Active == False%}
                        <a class="btn btn-primary" href= "">PENDING..</a>
                        {%endif%}
                    </div>
                  </div>
                  {%endfor%}

              {%elif user_content == None %}
            <div class="col" >
            <h6>NO PRODUCTS SUPPLYING</h6>

            </div>
            {%endif%}
    </div></div></div>

    <!-- Footer -->
    {% block footer %}
    {% include '../components/footer.html' %}
    {% endblock %}
<!-- Footer -->
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
