<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Pacifico&display=swap" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  
    <title>Cart info!</title>
  </head>
  <body style="font-family: sans-serif;">

      {% block content %}
      {% include '../components/navbar.html' %}
      {% endblock %}
    <div class = "container-fluid" style="margin-top: 100px;">

       <div class="container" style="font-size: 15px;" >
          <!-- Title -->
          <div class="title" style="font-size: 22px; font-weight: bolder;"  >
           {{user_name}}'s Shopping Cart
          </div>
          {% block cart %}
          {% include 'products/responses/cartview.html' %}
          {% endblock %}
            <div class="row" style=" display: inline-block; margin:5%; float: right;  width: auto;">
               <div class="total-price" style=" display: inline-block; margin:5%; float: right;">

                {%if FlintCart_content == null%}
                <a href="{% url clearcartlink pk=memid%}" style="text-decoration: none; float: right;">CLEAR CART</a>
                {%elif FlintCart_content != null%}
                <a href="{% url clearcartlink pk=memid%}" style="text-decoration: none; float: right;">CLEAR CART</a>

                {%endif%}
                <table>
                  <tr>
                    <td><h6 style="font-style: italic;">PURCHASE TOTAL: </h6></td>
                    <td style="text-align: center;">{{total_price}} USD</td>
                  </tr>
                  <tr>
                    <td><h6 style="font-style: italic;">VAT: </h6></td>
                    <td style="text-align: center;">{{Vat}} USD</td>
                  </tr>
                  <tr>
                    <td><h6 style="font-style: italic;">ORDER TOTAL: </h6></td>
                    <td style="text-align: center;">{{final_price}} USD</td>
                  </tr>
                  <tr>
                    <td><button class="btn btn-default" style=" display: inline-block; margin:5%; float: right; box-shadow: 3px 3px 3px grey;"><a href="{% url recalculate %}" style="text-decoration: none;">RECALCULATE</a></button></td>
                    <td><button class="btn btn-primary" style=" display: inline-block; margin:5%; float: right; box-shadow: 3px 3px 3px grey;"><a href="{% url 'orders:orders'  company=comp price=total_price %}" style=" text-decoration-color: black; color: black; text-decoration: none;">ORDER</a></button></td>
                  </tr>
                </table>

               </div><br>

               </div>

          </div>

    </div>


        <!-- Footer -->
        {% block footer %}
        {% include '../components/footer.html' %}
        {% endblock %}
    <!-- Footer -->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
