<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Pacifico&display=swap" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <title>finalised Orders!</title>
  </head>
  <body style="font-family: sans-serif;">
    {% block content %}
    {% include '../components/navbar.html' %}
    {% endblock %}
        <div class="container-fluid" style=" width: 100%;margin-top: 50px;">

      <div class="container">

          <!-- Title -->
          <div class="title" style="font-size: 17px; font-weight: bolder; padding: 1%;"  >
           {{user}}'s Admin Unverified Products
          </div>
        <table class="table table-striped" style=" width: auto; font-size: 10px; padding: 1%; "><thead><tr>
          <td><div class="description" style="margin-left:1%;">

              <span><p style="font-weight: bolder;">  ORDER ID</p></span>
            </div></td>
          <td><div class="description" style="margin-left:1%;">

              <span><p style="font-weight: bolder;">ORDER DATE</p></span>
            </div></td>

          <td><div class="description" style="margin-left:1%;">

              <span><p style="font-weight: bolder;">ORDER LIST</p></span>
            </div></td>
          <td><div class="description" style="margin-left:1%;">

              <span><p style="font-weight: bolder;">ORDER PAYMENT</p></span>
            </div></td>
          <td style="width: auto; margin-left:1%;">
            <div class="description" style="margin-left:1%;">
              <span><p style="font-weight: bolder;">BY CLIENT</p></span>

            </div></td>

          </tr></thead>

          <!-- Product #1 -->
         <!-- Product #1 -->
   <tbody>
          {%if flordertomake == null and biordertomake == null and tkordertomake == null%}
         <tr><td> <div class="row" style="font-style: italic; display: inline-block;  background-color: green; width: auto
   ; text-align: left; ">
              <p style="font-weight: bolder; ">You have no Orders!!</p>
            </div></td></tr>



          {%elif flordertomake != null %}

              {% for orders in flordertomake %}

               <tr><td> <div class="image" style="font-style: italic; display: inline-block;   width: auto; text-align: left; ">

                  <span><p style="font-weight: bolder;">{{orders.OrderID}}</p></span>
                </div></td>

                <td><div class="description" style="font-style: italic; display: inline-block;  width: auto;">
                  <span><p style="font-size: 12px;">{{orders.OrderDate}}</p></span>

                </div></td>
                <td><div class="description" style="font-style: italic; display: inline-block;  width: auto;">
                  <span><p style="font-size: 12px;">{{orders.OrderList}}</p></span>

                </div></td>

                <td><div class="description" style="font-style: italic; display: inline-block;  width: auto;">
                  <span><p style="font-size: 12px;">{{orders.Order_Payment}}</p></span>

                </div></td>

                <td><div class="description" style="font-style: italic; display: inline-block;  width: auto
   ;">
                  <span><p style="font-size: 12px;">{{orders.user}}</p></span>

                </div></td>


                {% endfor %}

{%endif%}
{%if biordertomake != null %}

    {% for orders in biordertomake %}

     <tr><td> <div class="image" style="font-style: italic; display: inline-block;   width: auto; text-align: left; ">

        <span><p style="font-weight: bolder;">{{orders.OrderID}}</p></span>
      </div></td>

      <td><div class="description" style="font-style: italic; display: inline-block;  width: auto;">
        <span><p style="font-size: 12px;">{{orders.OrderDate}}</p></span>

      </div></td>
      <td><div class="description" style="font-style: italic; display: inline-block;  width: auto;">
        <span><p style="font-size: 12px;">{{orders.OrderList}}</p></span>

      </div></td>

      <td><div class="description" style="font-style: italic; display: inline-block;  width: auto;">
        <span><p style="font-size: 12px;">{{orders.Order_Payment}}</p></span>

      </div></td>

      <td><div class="description" style="font-style: italic; display: inline-block;  width: auto
;">
        <span><p style="font-size: 12px;">{{orders.user}}</p></span>

      </div></td>

      {% endfor %}

{%endif%}
{%if tkordertomake != null %}

    {% for orders in tkordertomake %}

     <tr><td> <div class="image" style="font-style: italic; display: inline-block;   width: auto; text-align: left; ">

        <span><p style="font-weight: bolder;">{{orders.OrderID}}</p></span>
      </div></td>

      <td><div class="description" style="font-style: italic; display: inline-block;  width: auto;">
        <span><p style="font-size: 12px;">{{orders.OrderDate}}</p></span>

      </div></td>
      <td><div class="description" style="font-style: italic; display: inline-block;  width: auto;">
        <span><p style="font-size: 12px;">{{orders.OrderList}}</p></span>

      </div></td>

      <td><div class="description" style="font-style: italic; display: inline-block;  width: auto;">
        <span><p style="font-size: 12px;">{{orders.Order_Payment}}</p></span>

      </div></td>

      <td><div class="description" style="font-style: italic; display: inline-block;  width: auto
;">
        <span><p style="font-size: 12px;">{{orders.user}}</p></span>

      </div></td>


      {% endfor %}

{%endif%}
</tbody></table></div>
        </div>


        <!-- Footer -->
        {% block footer %}
        {% include '../components/footer.html' %}
        {% endblock %}
        <!-- Footer -->
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
