<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Pacifico&display=swap" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <title>User page!</title>
  </head>
  <body style="font-family: sans-serif;  padding: 0;margin: 0;">
    {%load static %}
    {% block content %}
    {% include '../components/navbar.html' %}
    {% endblock %}
        <div class="container-fluid" style=" width: 100%;margin-top: 70px;">

      <div class="container">
                  <!-- Title -->
          <div class="title" style=" font-weight: bolder;"  >
           <h3>{{user_name}}'s Admin Users view</h3>
           <p>Create a new adminstrator: <a href="{% url 'adminstrator:create_admin'%}">CREATE</a></p>
          </div>
         <table class="table table-striped" style=" width: auto; font-size: 12px; padding: 1%; "><thead><tr>
          <td><div class="description" style="margin-left:1%;">

              <span><p style="font-weight: bolder;">  USER ID</p></span>
            </div></td>
          <td><div class="description" style="margin-left:1%;">

              <span><p style="font-weight: bolder;">USERNAME</p></span>
            </div></td>
          <td><div class="description" style="margin-left:1%;">

              <span><p style="font-weight: bolder;">EMAIL ADDRESS</p></span>
            </div></td>
          <td style="width: auto; margin-left:1%;">
            <div class="description" style="margin-left:1%;">
              <span><p style="font-weight: bolder;"> PHYSICAL ADDRESS</p></span>

            </div></td>
            <td style="width: auto; margin-left:1%;"><div class="description" style="margin-left:1%;">
              <span><p style="font-weight: bolder;">ROLE</p></span>

            </div>
            </td>

            <td style="width: auto; margin-left:1%;"><div class="description" style="margin-left:1%;">
             <span style="width: auto;"><p style="font-weight: bolder;">PRIVILEGES</p></span>

            </div>
            </td>
            <td style="width: auto; margin-left:1%;"><div class="description" style="margin-left:1%;">
              <span><p style="font-weight: bolder;">COUNTRY</p></span>

            </div>
            </td>

            <td style="width: auto; margin-left:1%;"><div class="description" style="margin-left:1%;">
             <span style="width: auto;"><p style="font-weight: bolder;">PHONE NUMBER</p></span>

            </div>
            </td>

            <td style="width: auto; margin-left:1%;"><div class="description" style="margin-left:1%;">
             <span style="width: auto;"><p style="font-weight: bolder;">WHATSAPP NUMBER</p></span>

            </div>
            </td>
            <td style="width: auto; margin-left:1%;"><div class="description" style="margin-left:1%;">
             <span style="width: auto;"><p style="font-weight: bolder;">WECHAT</p></span>

            </div>
            </td>
            <td style="width: auto; margin-left:1%;"><div class="description" style="margin-left:1%;" >
             <span style="width: auto;"><p style="font-weight: bolder;">SKYPE</p></span>

            </div>
            </td>

            <td style="width: auto; margin-left:1%;"><div class="description" >
             <span style="width: auto;"><p style="font-weight: bolder;">ACTION</p></span>

            </div>
            </td>
          </tr></thead>

          <!-- Product #1 -->
<tbody>
          {%if user_content == ""%}
         <tr><td> <div class="row" style="font-style: italic; display: inline-block;  background-color: green; width: auto
; text-align: left; ">
              <p style="font-weight: bolder; ">You have no users!!</p>
            </div></td></tr>
          {%elif user_content != "" %}

              {% for user in user_content %}

               <tr><td> <div class="image" style="font-style: italic; display: inline-block;   width: auto; text-align: left; ">

                  <span><p style="font-weight: bolder;">{{user.id}}</p></span>
                </div></td>

                <td><div class="description" style="font-style: italic; display: inline-block;  width: auto;">
                  <span><p style="font-size: 12px;">{{user.user}}</p></span>

                </div></td>
                <td><div class="description" style="font-style: italic; display: inline-block;  width: auto;">
                  <span><p style="font-size: 12px;">{{user.user.email}}</p></span>

                </div></td>

                <td><div class="description" style="font-style: italic; display: inline-block;  width: auto;">
                  <span>{{user.physical_address}}</span>

                </div></td>

                <td><div class="description" style="font-style: italic; display: inline-block;  width: auto
;">
                  <span>{{user.role}}</span>

                </div></td>
               <td> <div class="description" style="font-style: italic; display: inline-block;  width: auto
;">
                  <span>{{user.privilege}}</span>

                </div></td>
                <td><div class="description" style="font-style: italic; display: inline-block;  width: auto
;">
                  <span>{{user.Country}}</span>

                </div></td>
                <td><div class="description" style="font-style: italic; display: inline-block;  width: auto
;">
                  <span>{{user.phonenumber}}</span>

                </div></td>
                <td><div class="description" style="font-style: italic; display: inline-block;  width: auto
;">
                  <span>{{user.Alternate_phonenumber}}</span>

                </div></td>
                <td><div class="description" style="font-style: italic; display: inline-block;  width: auto
;">
                  <span>{{user.WeChat}}</span>

                </div></td>
                <td><div class="description" style="font-style: italic; display: inline-block;  width: auto;">
                  <span>{{user.Skype}}</span>

                </div> </td><td><button class="btn btn-primary" style=" float: right; text-decoration: none; background-color: red; border-color: red" ><a href = "{% url 'adminstrator:delete_user_view' pk=user.user pk2=user.id%}" style=" color: white;font-size: 12px;">DELETE</a></button></td></tr>

                {% endfor %}

            {%endif%}
          </tbody></table></div>
    </div>

    <!-- Footer -->
    {% block footer %}
    {% include '../components/footer.html' %}
    {% endblock %}
    <!-- Footer -->
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
