<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Pacifico&display=swap" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <title>Unverified products!</title>
  </head>
  <body style="font-family: sans-serif;">
    {% block content %}
    {% include '../components/navbar.html' %}
    {% endblock %}
        <div class="container-fluid" style=" width: 100%;margin-top: 50px;">

      <div class="container">

          <!-- Title -->
          <div class="title" style="font-size: 17px; font-weight: bolder; padding: 1%;"  >
           {{user}}'s Admin Unverified Products
          </div>
        <table class="table table-striped" style=" width: auto; font-size: 10px; padding: 1%; "><thead><tr>
          <td><div class="description" style="margin-left:1%;">

              <span><p style="font-weight: bolder;">  PRODUCT ID</p></span>
            </div></td>
          <td><div class="description" style="margin-left:1%;">

              <span><p style="font-weight: bolder;">PRODUCT NAME</p></span>
            </div></td>

          <td><div class="description" style="margin-left:1%;">

              <span><p style="font-weight: bolder;">PRODUCT BRAND</p></span>
            </div></td>
          <td><div class="description" style="margin-left:1%;">

              <span><p style="font-weight: bolder;">PRODUCT CATERGORY</p></span>
            </div></td>
          <td style="width: auto; margin-left:1%;">
            <div class="description" style="margin-left:1%;">
              <span><p style="font-weight: bolder;">DESCRIPTION</p></span>

            </div></td>
            <td style="width: auto; margin-left:1%;"><div class="description" style="margin-left:1%;">
              <span><p style="font-weight: bolder;">ORIGIN</p></span>

            </div>
            </td>

            <td style="width: auto; margin-left:1%;"><div class="description" style="margin-left:1%;">
             <span style="width: auto;"><p style="font-weight: bolder;">PRODUCT PRICE</p></span>

            </div>
            </td>
            <td style="width: auto; margin-left:1%;"><div class="description" style="margin-left:1%;">
              <span><p style="font-weight: bolder;">PRODUCT IMAGE</p></span>

            </div>
            </td>
            <td style="width: auto; margin-left:1%;"><div class="description" style="margin-left:1%;">
              <span><p style="font-weight: bolder;">PRODUCT STOCK</p></span>

            </div>
            </td>

            <td style="width: auto; margin-left:1%;"><div class="description" style="margin-left:1%;">
             <span style="width: auto;"><p style="font-weight: bolder;">PRODUCT UNIT</p></span>

            </div>
            </td>

            <td style="width: auto; margin-left:1%;"><div class="description" style="margin-left:1%;">
             <span style="width: auto;"><p style="font-weight: bolder;">PRODUCT SUPPLIER</p></span>

            </div>
            </td>
            <td style="width: auto; margin-left:1%;"><div class="description" style="margin-left:1%;">
             <span style="width: auto;"><p style="font-weight: bolder;">PRODUCT PACKAGING</p></span>

            </div>
            </td>
            <td style="width: auto; margin-left:1%;"><div class="description" style="margin-left:1%;" >
             <span style="width: auto;"><p style="font-weight: bolder;">PRODUCT ACTIVE</p></span>

            </div>
            </td>
            <td style="width: auto; margin-left:1%;"><div class="description" >
             <span style="width: auto;"><p style="font-weight: bolder;">ACTION</p></span>

            </div>
            </td>
          </tr></thead>

          <!-- Product #1 -->
         <!-- Product #1 -->
   <tbody>
          {%if flintproducts == null and bioproducts == null and btproducts == null %}
         <tr><td> <div class="row" style="font-style: italic; display: inline-block;  background-color: green; width: auto
   ; text-align: left; ">
              <p style="font-weight: bolder; ">You have no Products!!</p>
            </div></td></tr>



          {%elif flintproducts != null %}

              {% for products in flintproducts %}

               <tr><td> <div class="image" style="font-style: italic; display: inline-block;   width: auto; text-align: left; ">

                  <span><p style="font-weight: bolder;">{{products.pid}}</p></span>
                </div></td>

                <td><div class="description" style="font-style: italic; display: inline-block;  width: auto;">
                  <span><p style="font-size: 12px;">{{products.name}}</p></span>

                </div></td>
                <td><div class="description" style="font-style: italic; display: inline-block;  width: auto;">
                  <span><p style="font-size: 12px;">{{products.Brand_Name}}</p></span>

                </div></td>

                <td><div class="description" style="font-style: italic; display: inline-block;  width: auto;">
                  <span><p style="font-size: 12px;">{{products.Brand_Name}}</p></span>

                </div></td>

                <td><div class="description" style="font-style: italic; display: inline-block;  width: auto
   ;">
                  <span><p style="font-size: 12px;">{{products.description}}</p></span>

                </div></td>
               <td> <div class="description" style="font-style: italic; display: inline-block;  width: auto
   ;">
                  <span><p style="font-size: 12px;"> {{product.Place}}/{{products.origin}}</p></span>

                </div></td>
                <td><div class="description" style="font-style: italic; display: inline-block;  width: auto
   ;">
                  <span><p style="font-size: 12px;">{{products.price}}</p></span>

                </div></td>
                <td><div class="description" style="font-style: italic; display: inline-block;  width: auto
   ;">
                  <span><img src="{{products.image.url}}" alt="" width="30px" height="30px"></span>

                </div></td>
                <td><div class="description" style="font-style: italic; display: inline-block;  width: auto
   ;">
                  <span><p>{{products.stock}}</p></span>

                </div></td>
                <td><div class="description" style="font-style: italic; display: inline-block;  width: auto
   ;">
                  <span><p>{{products.Unit}}</p></span>

                </div></td>
                <td><div class="description" style="font-style: italic; display: inline-block;  width: auto;">
                  <span>{{products.flintsupplierid}}</span>

                </div> </td>
                <td><div class="description" style="font-style: italic; display: inline-block;  width: auto;">
                  <span>{{products.Packaging}}</span>

                </div> </td>
                <td><div class="description" style="font-style: italic; display: inline-block;  width: auto;">
                  <span>{{products.Active}}</span>

                </div> </td>

  <td><button class="btn btn-primary" style=" float: right; text-decoration: none; " >
    <a href = "{%url 'adminstrator:verify' comp=products.Product_Catergory  pk=products.pid%}" style=" color: white;font-size: 12px;">ACTIVATE</a></button>
    <button class="btn btn-primary" style = " float: right; text-decoration: none; background-color: red; border-color: red" >
      <a href = "{% url 'adminstrator:delete_product' comp=products.Product_Catergory pk=products.pid%}" style=" color: white;font-size: 12px;">DELETE</a></button></td></tr>

                {% endfor %}

{%endif%}
            {%if bioproducts != null %}

                {% for products in bioproducts %}

                 <tr><td> <div class="image" style="font-style: italic; display: inline-block;   width: auto; text-align: left; ">

                    <span><p style="font-weight: bolder;">{{products.pid}}</p></span>
                  </div></td>

                  <td><div class="description" style="font-style: italic; display: inline-block;  width: auto;">
                    <span><p style="font-size: 12px;">{{products.name}}</p></span>

                  </div></td>
                  <td><div class="description" style="font-style: italic; display: inline-block;  width: auto;">
                    <span><p style="font-size: 12px;">{{products.Brand_Name}}</p></span>

                  </div></td>

                  <td><div class="description" style="font-style: italic; display: inline-block;  width: auto;">
                    <span><p style="font-size: 12px;">{{products.Product_Catergory}}</p></span>

                  </div></td>

                  <td><div class="description" style="font-style: italic; display: inline-block;  width: auto
     ;">
                    <span><p style="font-size: 12px;">{{products.description}}</p></span>

                  </div></td>
                 <td> <div class="description" style="font-style: italic; display: inline-block;  width: auto
     ;">
                    <span><p style="font-size: 12px;"> {{product.Place}}/{{products.origin}}</p></span>

                  </div></td>
                  <td><div class="description" style="font-style: italic; display: inline-block;  width: auto
     ;">
                    <span><p style="font-size: 12px;">{{products.price}}</p></span>

                  </div></td>
                  <td><div class="description" style="font-style: italic; display: inline-block;  width: auto
     ;">
                    <span><img src="{{products.image.url}}" alt="" width="30px" height="30px"></span>

                  </div></td>
                  <td><div class="description" style="font-style: italic; display: inline-block;  width: auto
     ;">
                    <span><<p>{{products.stock}}</p></span>

                  </div></td>
                  <td><div class="description" style="font-style: italic; display: inline-block;  width: auto
     ;">
                    <span><<p>{{products.Unit}}</p></span>

                  </div></td>
                  <td><div class="description" style="font-style: italic; display: inline-block;  width: auto;">
                    <span>{{products.biosupplierid}}</span>

                  </div> </td>
                  <td><div class="description" style="font-style: italic; display: inline-block;  width: auto;">
                    <span>{{products.Packaging}}</span>

                  </div> </td>
                  <td><div class="description" style="font-style: italic; display: inline-block;  width: auto;">
                    <span>{{products.Active}}</span>

                  </div> </td>




                                      <td>
                                        <button class="btn btn-primary" style=" float: right; text-decoration: none; " >
                                          <a href = "{% url 'adminstrator:verify' comp=products.Product_Catergory pk=products.pid%}" style=" color: white;font-size: 12px;">ACTIVATE</a></button><button class="btn btn-primary" style=" float: right; text-decoration: none; background-color: red; border-color: red" ><a href = "{% url 'adminstrator:delete_product' comp=products.Product_Catergory pk=products.pid%}" style=" color: white;font-size: 12px;">DELETE</a></button></td></tr>

                  {% endfor %}
{%endif%}

              {%if btproducts != null %}

                  {% for products in btproducts %}

                   <tr><td> <div class="image" style="font-style: italic; display: inline-block;   width: auto; text-align: left; ">

                      <span><p style="font-weight: bolder;">{{products.pid}}</p></span>
                    </div></td>

                    <td><div class="description" style="font-style: italic; display: inline-block;  width: auto;">
                      <span><p style="font-size: 12px;">{{products.name}}</p></span>

                    </div></td>
                    <td><div class="description" style="font-style: italic; display: inline-block;  width: auto;">
                      <span><p style="font-size: 12px;">{{products.Brand_Name}}</p></span>

                    </div></td>

                    <td><div class="description" style="font-style: italic; display: inline-block;  width: auto;">
                      <span><p style="font-size: 12px;">{{products.Product_Catergory}}</p></span>

                    </div></td>

                    <td><div class="description" style="font-style: italic; display: inline-block;  width: auto
       ;">
                      <span><p style="font-size: 12px;">{{products.description}}</p></span>

                    </div></td>
                   <td> <div class="description" style="font-style: italic; display: inline-block;  width: auto
       ;">
                      <span><p style="font-size: 12px;"> {{product.Place}}/{{products.origin}}</p></span>

                    </div></td>
                    <td><div class="description" style="font-style: italic; display: inline-block;  width: auto
       ;">
                      <span><p style="font-size: 12px;">{{products.price}}</p></span>

                    </div></td>
                    <td><div class="description" style="font-style: italic; display: inline-block;  width: auto
       ;">
                      <span><img src="{{products.image.url}}" alt="" width="30px" height="30px"></span>

                    </div></td>
                    <td><div class="description" style="font-style: italic; display: inline-block;  width: auto
       ;">
                      <span><<p>{{products.stock}}</p></span>

                    </div></td>
                    <td><div class="description" style="font-style: italic; display: inline-block;  width: auto
       ;">
                      <span><<p>{{products.Unit}}</p></span>

                    </div></td>
                    <td><div class="description" style="font-style: italic; display: inline-block;  width: auto;">
                      <span>{{products.tksupplierid}}</span>

                    </div> </td>
                    <td><div class="description" style="font-style: italic; display: inline-block;  width: auto;">
                      <span>{{products.Packaging}}</span>

                    </div> </td>
                    <td><div class="description" style="font-style: italic; display: inline-block;  width: auto;">
                      <span>{{products.Active}}</span>

                    </div> </td>



                    <td><button class="btn btn-primary" style=" float: right; text-decoration: none; " ><a href = "{% url 'adminstrator:verify' comp=products.Product_Catergory pk=products.pid%}" style=" color: white;font-size: 12px;">ACTIVATE</a></button><button class="btn btn-primary" style=" float: right; text-decoration: none; background-color: red; border-color: red" >
                      <a href = "{% url 'adminstrator:delete_product' comp=products.Product_Catergory pk=products.pid%}" style=" color: white;font-size: 12px;">DELETE</a></button></td></tr>

                    {% endfor %}

                {%endif%}
          </tbody></table>
    </div>
        </div>



        <!-- Footer -->
        {% block footer %}
        {% include '../components/footer.html' %}
        {% endblock %}
        <!-- Footer -->
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
