<!doctype html>
<html lang="en" style=" padding: 0;margin: 0;">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Pacifico&display=swap" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <title>Welcome!</title>
  </head>
  <body style="font-family: sans-serif;  padding: 0;margin: 0;">
    {%load static %}

      {% block content %}
      {% include 'components/navbar.html' %}
      {% endblock %}
    <div class ="container-fluid" style=" width: 100%;margin-top: 10%; position:relative;">

        <div class="col">
      <div class="col" style="margin-top: 50px;">
        <h1 style="text-align: center;">Getting to know us</h1>
          <p style="font-style: italic;">Btresources is a company dedicated to providing quality ecommerce services to clients from both around and outside Africa. Our prime goal is to be a leading trusted ecommerce company in Africa. Some of the services we love to offer</p>
          <nav>
            <ul style="font-style: italic;">
              <li>Importation of goods into Namibia</li>
              <li>Shipment of agricultural goods from around Africa.
              </li>
              <li>Delivery of quality medical products and services</li>
            </ul>
          </nav>
          <p  style="font-style: italic;">Btresources is a growing company at the moment serving as the ecommerce of three different companies. The companies are Flintwood Resources, Tk Titan Trading cc and Biotec Medical Suppies.</p>
        </div>
          <div class="col" style="margin-top: 30px; background-color: #FFFFF0; margin: none; width: 100%; height: 450px; padding: 100px;">
            <h1 style="text-align: center;">Our Philosophy.</h1>
            <p style="text-align: center;font-style: italic;">There's no room for hate and violence in this world. We must learn to be more kind, compassionate, empathetic, and sympathetic to humanity.</p>
            <h3 style="text-align: center;">Our vision.</h3>
            <p style="text-align: center; font-style: italic;">To be the most sustainable efficient and effective Products distributor and ecommerce in our areas of operation(Sub saharan Africa)</p>
            <h3 style="text-align: center;">Our goal.</h3>
            <p style="text-align: center; font-style: italic;">To provide integrated solutions for our clients. By building stronger relationships with all our stakeholders.</p>
          </div>
          <div class="col" style="margin-top: 30px; padding: 20px;">
            <h2 style="text-align: center;">How to get our services</h2>
            <div class="row" >
            <img src="{% static 'ecommerce/map.png' %}" width="70%" height="92%" style="float: left;">
            <div class="col" style="float: right;">
              <h4>Visit Us</h4>
              <h6>Pay us a visit from Monday to Friday</h6>
              <p style="font-style: italic;">8:00am - 5:00pm</p>
              <h6>We are located on </h6>
              <p style="font-style: italic;">ERF 26,Rendsburger street, Lafrenz Industrial Windhoek, Namibia</p>
            </div>
            </div>
          </div>
        </div>
    </div>


        <!-- Footer -->
        {% block footer %}
        {% include 'components/footer.html' %}
        {% endblock %}
    <!-- Footer -->
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
