<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Pacifico&display=swap" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <title>Membership!</title>
  </head>
  <body style="font-family: sans-serif;  padding: 0;margin: 0;">
    {%load static %}

      {% block content %}
      {% include 'components/navbar.html' %}
      {% endblock %}
    <div class ="container-fluid" style=" width: 100%;margin-top: 10%; position:relative;">

      <div class="row">
      <div class="row"  style="display: inline-block; margin: 1%; width: 100%; padding: 10px; height: 30%; ">
          <h4>BIOTEC</h4>
          <img src="{% static 'ecommerce/biotech.png' %}"  width="45%" height="50%">
        <p style=" font-style: italic;">Biotec medical suplies  Office is in the Lafrenz Industrial Park, Windhoek. We source strategic Contract Manufacturers and Quality Suppliers from Africa, Europe, Asia, America and target the Local markets  of several African countries in Sub-Saharan Africa.</p>

        <hr>
        <h5>BIOTECH MEDICAL SUPPIES:</h5>
        <ul style=" font-style: italic; font-size: 15px;">
          <li>ERF 579,GAMBIA STREET,WANAHEDA</li>
          <li>WINDHOEK, NAMIBIA</li>
          <li>P.O  BOX 26647</li>
        </ul>

        <p >Email us at:</p>
        <ul style=" font-style: italic;">
          <li>biotechmedicalsupplies@gmail.com</li>
        </ul>
        <a class="btn btn-primary" style="float: right; font-weight: bold; font-style: italic;" href="{% url 'Biotech:store_page'%}">Go to store</a>

        </div>
      <hr>
    </div></div>

        <!-- Footer -->
        {% block footer %}
        {% include 'components/footer.html' %}
        {% endblock %}
    <!-- Footer -->
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
