<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Pacifico&display=swap" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <title>Our Companies!</title>
  </head>
  <body style="font-family: sans-serif;  padding: 0;margin: 0;">
    {%load static %}

      {% block content %}
      {% include 'components/navbar.html' %}
      {% endblock %}
    <div class ="container-fluid" style=" width: 100%;margin-top: 10%; position:relative;">

        <div class="row" style="padding:1%;">

          <h2 style="text-decoration: underline; text-align: center; margin-bottom: 30px;">OUR COMPANY AND PARTNERS</h2>
        <p style=" font-style: italic;">Bt resources is acompany dedicated to providing ecommerce services to three of our partner companies. All three companies deal with  their own range of products and services. This can be seen below</p>

        </div>
<div class="row">
  <div class="col">
<div class="card" style="width: 28rem; margin:1%;">
  <img class="card-img-top" src="{% static 'ecommerce/flint.png' %}" alt="Card image cap">
  <div class="card-body" style="margin-top:35%;">
    <h5 class="card-title">FLINTWOOD</h5>
    <p class="card-text">Flintwood is a kenyan company that caters for it clients agricultural needs. With dedication to agricultural products the company maintains a close connection to farmers to ensure quality products and  timely shipping</p>
    <a class="btn btn-primary"href="{% url 'ecommerce:flint_view'%}">More on Flintwood</a>
    <a class="btn btn-primary"  href="{% url 'Flintwood:store_page'%}">Go to store</a>
  </div>
</div>
</div>
<div class="col">
<div class="card" style="width: 28rem;  margin:1%;">
  <img class="card-img-top" src="{% static 'ecommerce/tktitan.png' %}" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">BT TITAN</h5>
    <p class="card-text">BT Titan is a company dedicated to providing minerals mined from africa. Tk titan's business plan is to extend operations and partnerships in Sub-Saharan Africa specifically Angola, Botswana, DRC, Kenya and Uganda.</p>
    <a class="btn btn-primary" href="{% url 'ecommerce:tk_view'%}">More on BTTitan</a>
    <a class="btn btn-primary"   href="{% url 'TKTitan:store_page'%}">Go to store</a>
  </div>
</div>
</div>
<div class="col">
<div class="card" style="width: 28rem; margin:1%;">
  <img class="card-img-top" src="{% static 'ecommerce/biotech.png' %}" alt="Card image cap">
  <div class="card-body"style="margin-top:4%;">
    <h5 class="card-title">BIOTEC</h5>
    <p class="card-text">Biotec medical suplies  Office is in the Lafrenz Industrial Park, Windhoek. We source strategic Contract Manufacturers and Quality Suppliers from Africa, Europe, Asia, America and target the Local markets  of several African countries in Sub-Saharan Africa.</p>
    <a class="btn btn-primary" href="{% url 'ecommerce:biotec_view'%}">More on Biotec</a>
    <a class="btn btn-primary" href="{% url 'Biotech:store_page'%}">Go to store</a>
  </div>
</div>
</div>
</div>




      <hr>
    </div>

        <!-- Footer -->
        {% block footer %}
        {% include 'components/footer.html' %}
        {% endblock %}
    <!-- Footer -->
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
