<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Pacifico&display=swap" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <title>Membership!</title>
  </head>
  <body  style="font-family: sans-serif;  padding: 0;margin: 0;">
    {%load static %}

      {% block content %}
      {% include 'components/navbar.html' %}
      {% endblock %}
    <div class ="container-fluid" style=" width: 100%;margin-top: 10%; position:relative;">

      <div class="row">
        <div class="column">
          <h2>MEMBERSHIP</h2>
        <p style=" font-style: italic;">Btresources is dedicated to providing quality services to our clients as well as enabling a health and strong relationship between us and our client. It is for this reason that we encourage our customers to sign up with us to access our products and services.</p>
        <hr>
        </div>

      </div>
      <div class="row">
        <div class="column">
          <h4>BENEFITS OF BEING A MEMBER</h4><br>
        <ul>
          <li>Faster processing of orders</li>
          <li>Interracting with our store becomes less tidious</li>
          <li>Benefit from more personalised customer shopping</li>
          <li>Access to products from our different companies</li>
        </ul>

        </div>

      </div>
      <div class="row">
        <div class="column">
        <h3>HOW TO BE A BUYER</h3>
        <p>To be a buyer is an easy husle free endevour that will help make your growth and continued relationship with us better. To be a buyer, you must:</p>
        <ul>
          <li>Register with us. <a href="{% url 'register_page'%}">register here</a></li>
          <li>Choose a company that sells what you need in the privilege dropdown as on the registration page. Choose from:</li>
            <ul>
              <li>BT TITAN</li>
              <li>FLINTWOOD</li>
              <li>BIOTEC</li>
              <li>ALL(All three companies)</li>
            </ul>
            <li>Now pick buyer from the role dropdown list.</li>
          <li>Provide us with your email and phone number and all other relevant information.</li>
        </ul>
        <br>
        
          <h4>HOW TO BEGIN SHOPPING </h4>
          <p>
            Now that you have registered you will be directed to the homepage where you will see some products provided by the different companies depending on your privilege choice you may view either of the three or all if you choose the privilege as all.
          </p>


<h5> Lets Get started!</h5>


          {% if user_name != None%}

          <p style="font-style: italic;">Your are already a signed in member</p>
            <a class="btn btn-primary" href="{% url 'profile_view'%}" >VISIT YOUR PROFILE</a><br>
          {%elif user_name == None %}
          <p>Filling in the informations is easy and fast. Just fill in the registration form</p>
          <a class="btn btn-primary" href="{% url 'register_page'%}" >REGISTER</a><br>
          {%endif%}
          <hr>


        </div>

      </div>
<div class="row">
  <h3>HOW TO BE A SUPPLIER</h3>

  <ul>
    <p>To be a supplier is an easy husle free endevour that will help make your growth and continued relationship with us better. To be a supplier, you must:</p>
    <li>Register with us. <a href="{% url 'register_page'%}">register here</a></li>
    <li>Choose a company that you wish to supply to in the privilege dropdown as on the registration page. Choose from:</li>
      <ul>
        <li>BT TITAN</li>
        <li>FLINTWOOD</li>
        <li>BIOTEC</li>
        <li>ALL(All three companies)</li>
      </ul>
      <li>Now pick the company supplier role from the role dropdown list.This selection must correspond to the company choosen in the privilege above. The choices to pick from are:</li>
      <ul>
        <li>BT TITAN Supplier</li>
        <li>FLINTWOOD Supplier</li>
        <li>BIOTEC Supplier</li>

      </ul>
    <li>Provide us with your email and phone number and all other relevant information.</li>
  </ul>
  <br>

    <h4>HOW TO BEGIN SELLING WITH US </h4>
    <p>
      Now that you have registered you will be directed to the homepage where in the top right corner of the navigation bar you will seen your detail clicking on it will open a dropdown click on supply to add a product.
    </p>


</div>
      <hr>
    </div>

        <!-- Footer -->
        {% block footer %}
        {% include 'components/footer.html' %}
        {% endblock %}
    <!-- Footer -->
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
