
{% block footer %}
<!-- Footer -->
<footer class="page-footer font-small blue pt-4" style="background-color: black; color: white; box-shadow: 0px 0px 3px grey;   top: 0;  left: 0;  z-index: 9999; ">

<!-- Footer Links -->
<div class="container-fluid text-center text-md-left">

<!-- Grid row -->
<div class="row">

  <!-- Grid column -->
  <div class="col-md-6 mt-md-0 mt-3">

    <!-- Content -->
    <h5 class="text-uppercase"><strong>BT</strong>PRODUCTS</h5>
    <p>Trusted Ecommerce website.</p>

  </div>
  <!-- Grid column -->

  <hr class="clearfix w-100 d-md-none pb-3">

  <!-- Grid column -->
  <div class="col-md-3 mb-md-0 mb-3">

    <!-- Links -->
    <h5 class="text-uppercase">Links</h5>

    <ul class="list-unstyled">
      <li>
         <a href="{% url 'ecommerce:index'%}">Home</a>
      </li>

      <li>
         <a href="{% url 'Flintwood:store_page'%}">Flintwood</a>
      </li>
      <li>
         <a href="{% url 'TKTitan:store_page'%}">TkTitan</a>
      </li>
      <li>
         <a href="{% url 'Biotech:store_page'%}">Biotech</a>
      </li>

    </ul>

  </div>
  <!-- Grid column -->

  <!-- Grid column -->

  <!-- Grid column -->

</div>
<!-- Grid row -->

</div>
<!-- Footer Links -->

<!-- Copyright -->
<div class="footer-copyright text-center py-3">© 2018 Copyright:
<a href="https://mdbootstrap.com/education/bootstrap/"> MDBootstrap.com</a>
</div>
<!-- Copyright -->

</footer>
{% endblock %}
